<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.3.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>